<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title user-name-txt">
                        <h1>Notas de Comportamiento</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end user-surname-txt">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Notas de Comportamiento</a></li>
                            <li class="active">Selección de Grado</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="section-buscar-comportamiento">
    <form novalidate="novalidate" [formGroup]="notascomportamientoform">
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <!--Inicio 1er Grado-->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12 col-sm-9">
                                    <div class="col-lg-3 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectPeriodo" class="form-label label-custom-medium">Periodo:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder" displayExpr="peNombre"
                                                valueExpr="idperiodo" [dataSource]="periodoAcademico"
                                                [inputAttr]="{ 'aria-label': 'Periodo' }"
                                                formControlName="selectPeriodo"></dx-select-box>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="inputGrado1" class="form-label label-custom-medium">Grado:</label>
                                            <input type="text" class="form-control readonly-input text-center"
                                                id="grado_1ro" formControlName="inputGrado1" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectUnidad" class="form-label label-custom-medium">Unidad:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder text-center" [dataSource]="unidadAcademica"
                                                displayExpr="uniNombre" valueExpr="idunidad"
                                                [inputAttr]="{ 'aria-label': 'Unidad' }"
                                                [showClearButton]="true" formControlName="selectUnidad">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm"
                                            data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                            (click)="EnviarDatos(1)">
                                            <i class="fa fa-lg fa-fw fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin 1er Grado-->

                    <!--Inicio 2do Grado-->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body card-block text-center">
                                <div class="col-lg-12 col-sm-9">
                                    <div class="col-lg-3 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectPeriodo" class="form-label label-custom-medium">Periodo:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder" displayExpr="peNombre"
                                                valueExpr="idperiodo" [dataSource]="periodoAcademico"
                                                [inputAttr]="{ 'aria-label': 'Periodo' }"
                                                formControlName="selectPeriodo"></dx-select-box>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="inputGrado2" class="form-label label-custom-medium">Grado:</label>
                                            <input type="text" class="form-control readonly-input text-center"
                                                id="grado_2do" formControlName="inputGrado2" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectUnidad" class="form-label label-custom-medium">Unidad:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder text-center" [dataSource]="unidadAcademica"
                                                displayExpr="uniNombre" valueExpr="idunidad"
                                                [inputAttr]="{ 'aria-label': 'Unidad' }"
                                                [showClearButton]="true" formControlName="selectUnidad">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm"
                                            data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                            (click)="EnviarDatos(2)">
                                            <i class="fa fa-lg fa-fw fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin 2do Grado-->

                    <!--Inicio 3er Grado-->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12  col-sm-9">
                                    <div class="col-lg-3 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Periodo:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder" displayExpr="peNombre"
                                                valueExpr="idperiodo" [dataSource]="periodoAcademico"
                                                [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                formControlName="selectPeriodo"></dx-select-box>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Grado:</label>
                                            <input type="text" class="form-control readonly-input text-center" id="grado_3ro"
                                                formControlName="inputGrado3" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectUnidad" class="form-label label-custom-medium">Unidad:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder text-center" [dataSource]="unidadAcademica"
                                                displayExpr="uniNombre" valueExpr="idunidad"
                                                [inputAttr]="{ 'aria-label': 'Unidad' }"
                                                [showClearButton]="true" formControlName="selectUnidad">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm "
                                            data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                            (click)="EnviarDatos(3)">
                                            <i class="fa fa-lg fa-fw fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin 3er Grado-->

                    <!--Inicio 4to Grado-->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12  col-sm-9">
                                    <div class="col-lg-3 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Periodo:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder" displayExpr="peNombre"
                                                valueExpr="idperiodo" [dataSource]="periodoAcademico"
                                                [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                formControlName="selectPeriodo"></dx-select-box>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Grado:</label>
                                            <input type="text" class="form-control readonly-input text-center" id="grado_4to"
                                                formControlName="inputGrado4" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectUnidad" class="form-label label-custom-medium">Unidad:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder text-center" [dataSource]="unidadAcademica"
                                                displayExpr="uniNombre" valueExpr="idunidad"
                                                [inputAttr]="{ 'aria-label': 'Unidad' }"
                                                [showClearButton]="true" formControlName="selectUnidad">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm "
                                            data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                            (click)="EnviarDatos(4)">
                                            <i class="fa fa-lg fa-fw fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin 4to Grado-->

                    <!--Inicio 5to Grado-->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12  col-sm-9">
                                    <div class="col-lg-3 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Periodo:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder" displayExpr="peNombre"
                                                valueExpr="idperiodo" [dataSource]="periodoAcademico"
                                                [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                formControlName="selectPeriodo"></dx-select-box>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="exampleFormControlInput1"
                                                class="form-label label-custom-medium">Grado:</label>
                                            <input type="text" class="form-control readonly-input text-center" id="grado_5to"
                                                formControlName="inputGrado5" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mx-auto">
                                        <div class="mb-3 text-center">
                                            <label for="selectUnidad" class="form-label label-custom-medium">Unidad:</label>
                                            <dx-select-box placeholder="Seleccione una opción."
                                                class="text-color-placeholder text-center" [dataSource]="unidadAcademica"
                                                displayExpr="uniNombre" valueExpr="idunidad"
                                                [inputAttr]="{ 'aria-label': 'Unidad' }"
                                                [showClearButton]="true" formControlName="selectUnidad">
                                            </dx-select-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary"
                                            data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                            (click)="EnviarDatos(5)">
                                            <i class="fa fa-lg fa-fw fa-search"></i> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin 5to Grado-->

                    <!-- Repite el mismo bloque de código para los demás grados, cambiando los identificadores de elementos como inputGrado3, inputGrado4, etc. -->
                </div>
            </div>
        </div>
    </form>
</section>
