<div class="breadcrumbs" >
    <div class="breadcrumbs-inner">
        <div class="row">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Periodos Académicos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Ciclo Académico</a></li>
                            <li class="active">Periodo Académico</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                    
                        <div class="card-body--">
                            <button class="btn btn-primary mb-3" (click)="ModalAgregarPeriodo()">
                                <i class="fa fa-lg fa-fw fa-plus"></i> Agregar Periodo
                            </button>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                          <th class="widthtablas">#</th>
                                          <th class="text-center">Nombre</th>
                                          <th class="text-center">Fecha de inicio</th>
                                          <th class="text-center">Fecha de fin</th>
                                          <th class="text-center">Acciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let periodos of periodos; let i = index">
                                          <td>{{ i + 1 }}</td>
                                          <td class="text-center">{{ periodos.nombre }}</td>
                                          <td class="text-center">{{ periodos.fechainicio }}</td>
                                          <td class="text-center">{{ periodos.fechafin }}</td>
                                          <td class="text-center">
                                            <button class="btn btn-sm btn-warning mr-2" (click)="EditarPeriodo(i)">
                                              <i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger" (click)="EliminarPeriodo(i)">
                                              <i class="fa fa-trash"></i>
                                            </button>
                                          </td>
                                        </tr>
                                      </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
