<section class="gradiente-custom-1 h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img class="logo_icon" src="./assets/images/SanCarlos_Icon_Logo.png" alt="logo">
                </div>

                <form autocomplete="off" novalidate="novalidate" [formGroup]="dataFormGroup">
                  <div class="text-font-size-welcome">
                    <p>Bienvenido de vuelta</p>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Usuario</label>
                    <input type="text" class="form-control text-input-opacity" id="exampleFormControlInput"
                      formControlName="inputUsuario" placeholder="Ingrese su usuario.">
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Contraseña</label>
                    <input type="password" class="form-control text-input-opacity" id="exampleFormControlInput1"
                      formControlName="inputPassword" placeholder="Ingrese su contraseña.">
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary btn-size gradient-custom-2 mb-3" type="submit"
                      (click)="Login()">Ingresar</button>
                    <br>
                    <a class="text-muted text-decoration-underline link-pointer"
                      (click)="AbrirModalRecoverPass()">Olvidaste tu contraseña?</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-3">

              <!-- TEXTO INFORMATIVO (OPCIONAL)-->
              
              <!-- <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Colegio San Carlos</h4>
                <p class="text-color small mb-0">Somos una institución educativa líder, reconocida por su excelencia
                  académica y altos estándares de calidad, dedicada a garantizar que todos nuestros estudiantes culminen
                  su formación en los niveles de primaria y secundaria con aprendizajes sólidos establecidos en el
                  Currículo Nacional y un alto desempeño académico. Nuestro compromiso trasciende lo académico,
                  fomentando el desarrollo integral de cada estudiante a través de la promoción de valores, el
                  fortalecimiento de su identidad y autoestima, y la construcción de una integración social adecuada.
                  Aspiramos a formar ciudadanos íntegros y capaces de enfrentar con éxito los desafíos de un mundo en
                  constante cambio, contribuyendo de manera positiva y significativa a la sociedad.</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>