<div class="modal-header">
    <strong class="modal-title fw-bold text-center user-name-txt">{{ isEditMode ? 'EDITAR ASIGNATURA' : 'AGREGAR ASIGNATURA' }}</strong>
</div>
<div class="modal-body">
    <section id="seccion-area-asignatura">
        <form [formGroup]="formGroup" >
            <!-- Campo para el nombre de la asignatura -->
            <div class="mb-3">
                <label for="NombreAsignatura" class="form-label fw-semibold user-name-txt">Nombre de la Asignatura</label>
                <input type="text" class="form-control text-color-placeholder" formControlName="NombreAsignatura" id="NombreAsignatura" placeholder="Nombre de la asignatura" />
                <div *ngIf="Controls['NombreAsignatura'].invalid && (Controls['NombreAsignatura'].dirty || Controls['NombreAsignatura'].touched)" class="text-error">
                    <div *ngIf="Controls['NombreAsignatura']?.errors?.['required']">Campo obligatorio.</div>
                </div>
            </div>

            <!-- Campo para seleccionar área -->
            <div class="mb-3">
                <label for="areaId" class="form-label fw-semibold user-name-txt">Área</label>
                <dx-select-box 
                  [items]="areas"
                  displayExpr="areaNombre"
                  valueExpr="idArea"
                  formControlName="areaId"
                  placeholder="Seleccione un área">
                </dx-select-box>
                <div *ngIf="Controls['areaId'].invalid && (Controls['areaId'].dirty || Controls['areaId'].touched)" class="text-error">
                    <div *ngIf="Controls['areaId']?.errors?.['required']">Campo obligatorio.</div>
                </div>
            </div>
        </form>
    </section>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="AgregarAsignatura()">
        <i class="fa" [ngClass]="isEditMode ? 'fa-refresh' : 'fa-plus'"></i> 
        {{ isEditMode ? 'Actualizar' : 'Añadir' }}
    </button>
    <button type="button" class="btn btn-danger button-color-danger" (click)="CerrarModal()">
        <i class="fa fa-lg fa-fw fa-times"></i> Cancelar
    </button>
</div>
