<div class="modal-header">
    <h4 class="modal-title fw-bold text-center text-color-titulos">Agregar Bimestre Académico</h4>
</div>
<div class="modal-body">
    <section id="seccion-bimestre-academico">
        <form [formGroup]="formGroup">
            <!-- Campo para el nombre del bimestre académico -->
            <div class="mb-3">
                <label for="nombre" class="form-label fw-semibold text-color-titulos">Nombre</label>
                <input type="text" class="form-control text-color-placeholder" id="NombreBimestreAcademico" formControlName="NombreBimestreAcademico" placeholder="Nombre del bimestre académico">
            </div>
            <!-- Campo para la fecha de inicio -->
            <div class="mb-3">
                <label for="fechaInicio" class="form-label fw-semibold text-color-titulos">Fecha de inicio</label>
                <dx-date-box type="date" formControlName="inputFechaInicioBimestreAcademico" [displayFormat]="'dd/MM/yyyy'" [placeholder]="'dd/MM/yyyy'">
                </dx-date-box>
            </div>
            <!-- Campo para la fecha de fin -->
            <div class="mb-3">
                <label for="fechaFin" class="form-label fw-semibold text-color-titulos">Fecha de fin</label>
                <dx-date-box type="date" formControlName="inputFechaFinBimestreAcademico" [displayFormat]="'dd/MM/yyyy'" [value]="fechaActual">
                </dx-date-box>
            </div>
        </form>
    </section>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary button-color-primary" (click)="AgregarBimestreAcademico()">
        <i class="fa fa-lg fa-fw fa-plus"></i> Añadir
    </button>
    <button type="button" class="btn btn-danger button-color-danger" (click)="CerrarModal()">
        <i class="fa fa-lg fa-fw fa-times"></i> Cancelar
    </button>
</div>