<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row m-0 align-items-center">
        <!-- Información principal: Título y detalles -->
        <div class="col-sm-6">
          <div class="page-header float-left">
            <div class="page-title user-name-txt">
              <h1>Registro de Notas Académicas Por Unidad</h1>
              <p class="mt-2 user-name-txt">
                Grado: <strong class="user-name-txt">{{ gradoNombre }}</strong> |
                Bimestre: <strong class="user-name-txt">{{ bimestreNombre }}</strong> |
                Asignatura: <strong class="user-name-txt">{{ asignaturaNombre }}</strong>
              </p>
            </div>
          </div>
        </div>
  
        <!-- Breadcrumb alineado a la derecha -->
        <div class="col-sm-6">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb d-flex justify-content-end user-surname-txt">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Notas Académicas</a></li>
                <li class="active">Registro</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section id="section-registro-notas-academicas">
    <form novalidate [formGroup]="notasacademicasUnidadform">
      <div class="content">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card mb-1">
                <div class="card-body card-block">
                  <div class="col-lg-12 col-sm-9">
                    <div class="row mb-1">
                      <strong for="selectUnidad" class="form-label label-custom-medium user-name-txt">SELECCIONE UNA UNIDAD PARA VER EL REGISTRO:</strong>                                                   
                      <!-- Select Unidad Académica -->
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="selectUnidad" class="form-label label-custom-medium user-name-txt">Unidad Académica:</label>
                          <dx-select-box
                            *ngIf="unidadesFiltradas.length > 0"
                            placeholder="Seleccione una unidad"
                            class="text-color-placeholder text-center"
                            [dataSource]="unidadesFiltradas"
                            displayExpr="uniNombre"
                            valueExpr="idunidad"
                            [inputAttr]="{ 'aria-label': 'Unidad Académica' }"
                            [showClearButton]="true"
                            formControlName="selectUnidad">
                          </dx-select-box>
                          <div *ngIf="notasacademicasUnidadform.get('selectUnidad')?.invalid && notasacademicasUnidadform.get('selectUnidad')?.touched" class="text-error">
                            Unidad Académica es requerida.
                          </div>
                        </div>
                      </div>
  
                    </div>
  
                    <!-- Botones de acción -->
                    <div class="row">
                      <div class="col-lg-12 text-right">
                        <div class="d-flex justify-content-end">
                          <button type="button" 
                                  class="btn btn-primary btn-sm me-2" 
                                  (click)="validarcambios()">
                            <i class="fa fa-search"></i> Ver Notas
                          </button>
                          <button type="button" class="btn btn-danger btn-sm button-color-danger " (click)="notasacademicasUnidadform.reset()">
                            <i class="fa fa-lg fa-fw fa-eraser"></i> Limpiar
                          </button>
                        </div>
                      </div>
                    </div>
                 
                    <!-- Fin Botones -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  
  <section class="text-center" id="section-buscar-alumno">
    <form novalidate="novalidate" [formGroup]="notasacademicasUnidadform">
        <div class="content">
            <div class="animated fadeIn">
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-12"> 
                        <div class="card mb-2">
                            <div class="card-body card-block">
                                <div class="row justify-content-center"> <!-- Centra los elementos en cada fila -->
                                  <div class="col-lg-3 mb-3">
                                    <label for="inputAsignatura" class="form-label label-custom-medium">Asignatura:</label>
                                    <input type="text" class="form-control text-center readonly-input"
                                    style="text-transform: uppercase; font-weight: bold; font-size: 1.1rem;"
                                    [value]="asignaturaNombre" readonly/>
                                  </div>  
                                  <div class="col-lg-3 mb-3">
                                        <label for="inputUnidad" class="form-label label-custom-medium">Unidad: </label>
                                        <input type="text" class="form-control text-center readonly-input"
                                        style="text-transform: uppercase; font-weight: bold; font-size: 1.1rem;"
                                               formControlName="inputUnidad" readonly>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

  <section id="registro-comportamiento">
    <form [formGroup]="notasacademicasUnidadform" >
      <div class="content">
        <div class="animated fadeIn">
          <div class="row mb-1">
            <div class="col-lg-12">
              <div class="card mb-1">
                <div class="card-body">
                  <div class="table-stats order-table ov-h">
                    <table class="table" id="tablaNotasConducta">
                      <thead class="bg-primary text-white">
                        <tr>
                          <th>#</th>
                          <th>Alumno</th>
                          <th *ngFor="let semana of [1, 2, 3, 4]">Semana {{ semana }}</th>
                          <th *ngFor="let nota of notasPorUnidad">{{ nota }}</th>
                          <th>Promedio</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="alumnosFormArray">
                        <tr *ngFor="let alumno of alumnosNota; let i = index" [formGroupName]="i">
                          <td>{{ i + 1 }}</td>
                          <td>{{ alumno.nombre + " " + alumno.apellidoPaterno + " " + alumno.apellidoMaterno }}</td>
                          <td *ngFor="let semana of [1, 2, 3, 4]">
                            <input
                              type="text"
                              class="form-control text-center"
                              [formControlName]="'promedioSemana' + semana"
                              readonly
                            />
                          </td>
                          <td *ngFor="let nota of notasPorUnidad">
                            <input
                              type="text"
                              class="form-control text-center"
                              [formControlName]="'inputNota' + obtenerIdTipoNotaPorNombre(nota)"
                              (input)="calcularPromedio(i)"
                              placeholder="00.00"
                              maxlength="5"
                              pattern="^\\d{1,2}(\\.\\d{1,2})?$"
                              oninput="this.value = this.value.replace(/[^0-9.]/g, '')
                              .replace(/(\..*)\./g, '$1')
                              .replace(/^(\d{1,2})(\.\d{0,2})?.*/, '$1$2');
                              if (parseFloat(this.value) > 20) {
                              this.value = '20' + (this.value.includes('.') ? this.value.slice(this.value.indexOf('.')) : '');
                            }"
                            />
                          </td>
                          <td class="text-center">
                            <input
                              type="text"
                              class="form-control text-center readonly-input"
                              formControlName="inputPromedioNota"
                              readonly
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    
                    
                    <div class="row">
                      <div class="col-lg-12 text-right">
                          <div class="d-flex justify-content-end">
                            <button type="button"
                            class="btn btn-primary btn-sm me-2"
                            (click)="volver()">
                      <i class="fa fa-arrow-left"></i> Volver
                           </button>
                            <button
                            type="button"
                            class="btn btn-success btn-sm"
                            (click)="RegistrarTodo()">
                      <i class="fa fa-lg fa-fw fa-save"></i> Registrar</button>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  