<!-- Header-->
<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="./"><img src="./assets/images/SanCarlos_Full_Logo_Dark.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="./assets/images/SanCarlos_Icon_Logo.png" alt="Logo"></a>
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu mt-2">
            <div class="user-area dropdown float-right d-flex align-items-center">
                <div class="user-info mr-3">
                    <p class="user-name-txt mb-0">{{username}}</p>
                    <p class="user-surname-txt mb-0 mt-1">{{userRole}}</p>
                </div>

                <!-- Avatar con Dropdown -->
                <div class="user-avatar rounded-circle dropdown-toggle active" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    [ngStyle]="{'background-color': avatarColors.bgColor, 'color': avatarColors.textColor, 'cursor': 'pointer'}"
                    style="display: flex; align-items: center; justify-content: center; font-size: 1.4rem; width: 40px; height: 40px; font-family: 'Inter', sans-serif;">
                    {{ avatarText }}
                </div>

                <!-- Menú del Dropdown -->
                <div class="user-menu dropdown-menu">
                    <a class="nav-link" (click)="MensajeInformacion()"><i class="fa fa-user"></i>My Profile</a>
                    <a class="nav-link" (click)="MensajeInformacion()"><i class="fa fa-cog"></i>Settings</a>
                    <a class="nav-link" (click)="CerrarSesion()"><i class="fa fa-power-off"></i>Logout</a>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- /#header -->