<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title user-name-txt">
                        <h1>Ver Comentarios</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end user-surname-txt">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Auditoria</a></li>
                            <li class="active">Ver Comentarios</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="lista-comentarios">
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="card-body--">
                                <!-- Lista de comentarios -->
                                <div class="comentarios-list">
                                    <div *ngFor="let comentario of comentarios; let i = index" class="comentario-item">
                                        <!-- Burbuja de comentario -->
                                        <div class="comentario">
                                            <div class="comentario-header">
                                                <p class="tittle-text-sm"><strong class="tittle-text">Usuario: </strong>
                                                    {{ comentario.auditoria.usuario.nombre + " " +
                                                    comentario.auditoria.usuario.apellidoPaterno + " " +
                                                    comentario.auditoria.usuario.apellidoMaterno }}</p>
                                                <span class="fecha-comentario tittle-text">{{ comentario.audcomFechaCreacion |
                                                    date:'yyyy - MM - dd' }}</span>
                                            </div>
                                            <div class="comentario-body">
                                                <p>{{comentario.audcomComentario }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center"> 
                                    <!-- Botón para cargar menos comentarios -->
                                    <div class="text-center mt-3" *ngIf="comentarios.length >= 5 && pageNumber > 1">
                                        <button type="button" class="btn-success btn btn-orange" (click)="cargarMenos()"><i class="fa fa-minus">&nbsp;&nbsp;</i>Cargar menos</button>&nbsp;&nbsp;
                                    </div>
                                    <!-- Botón para cargar más comentarios -->
                                    <div class="text-center mt-3" *ngIf="comentarios.length >= 5">
                                        <button type="button" class="btn-success btn btn-skyblue" (click)="cargarMas()"><i class="fa fa-plus">&nbsp;&nbsp;</i>Cargar más</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>