<!-- Left Panel -->
<nav class="navbar navbar-expand-sm navbar-default">

    <ng-container *ngIf="isAdmin()">
        <div id="main-menu" class="main-menu collapse navbar-collapse"><!-- Sidebar Administrador -->
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard</a><
                </li>

                
                <li class="menu-title">Usuarios</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Registrar Usuario</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li class="link-pointer"><i class="fa fa-puzzle-piece"></i><a (click)="RegistrarAlumno()">Alumno</a></li>
                        <li class="link-pointer"><i class="fa fa-id-badge"></i><a (click)="RegistrarDocente()">Docente</a></li>
                        
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Usuarios</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><a href="tables-basic.html">Alumno</a></li>
                        <li><i class="fa fa-user"></i><a href="tables-data.html">Docente</a></li>
                    </ul>
                </li>


                <li class="menu-title">Notas</li><!-- /.menu-title -->
                <li>
                    <a href="#"> <i class="menu-icon ti-email"></i>Notas Registro Auxiliar</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-tasks"></i>Notas Conducta</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Notas del Padre</a>
                </li>


                <li class="menu-title">Asistencia</li><!-- /.menu-title -->
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Registrar Asistencia</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Ver Faltas y Tardanzas</a>
                </li>


                <li class="menu-title">Administración Colegio</li><!-- /.menu-title -->

                <li class="link-pointer"><i class="fa fa-id-badge"></i><a (click)="RegistrarPeriodoAcademico()">periodo prueba</a></li>

                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Unidades Académicas</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Bimestres Académicos</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Área de Cursos</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Cursos</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Categoría de Notas</a>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-bar-chart"></i>Tipos de Notas</a>
                </li>

            </ul>
        </div><!-- Sidebar Administrador -->
    </ng-container>

    <ng-container *ngIf="isDocente()"> <!-- Sidebar Docente-->
        <div id="main-menu" class="main-menu collapse navbar-collapse"><!-- Sidebar Docente-->

            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard</a>
                </li>
                <li class="menu-title">Notas</li><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Administar Notas</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Notas Cursos</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Notas Conducta</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Ver Notas</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Notas Cursos</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Notas Conducta</a></li>
                        </ul>
                    </li>
                    
                </ul>

        </div><!-- Sidebar Docente -->
    </ng-container>

    <ng-container *ngIf="isAlumnoOrPadre()"><!-- Sidebar Alumno-Padre-->
        <div id="main-menu" class="main-menu collapse navbar-collapse"><!-- Sidebar Alumno-Padre-->
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Dashboard</a>
                </li>

                <li class="menu-title">Notas</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="menu-icon fa fa-cogs"></i>Notas Alumno</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Cursos</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Conducta</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"> <i class="menu-icon fa fa-tasks"></i>Notas del padre</a>
                </li>

            </ul>
        </div><!-- Sidebar Alumno-Padre -->
    </ng-container>
</nav>
<!-- /#left-panel -->