<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Lista de Alumnos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Lista de Alumnos</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="section-buscar-alumno">
    <form novalidate="novalidate" [formGroup]="listaalumnoform" (ngSubmit)="BuscarAlumno()">
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12 text-right col-sm-9">
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-success btn-sm button-color-success"
                                                (click)="RegistrarAlumno()">
                                                <i class="fa fa-lg fa-fw fa-user-plus"></i> Nuevo
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Estudiante:</label>
                                                <dx-autocomplete placeholder="Escriba el nombre del paciente."
                                                    formControlName="inputEstudiante" [dataSource]="listadoalumnos">
                                                </dx-autocomplete>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Nro. de
                                                    documento:</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="Ingrese el número de documento."
                                                    formControlName="inputNroDocumento"
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                    maxlength="8">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Grado:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" displayExpr="nombre" valueExpr="id"
                                                    [dataSource]="otherGradoAcademico"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true"
                                                    formControlName="selectGradoAcademico"></dx-select-box>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Periodo:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" displayExpr="nombre" valueExpr="id"
                                                    [dataSource]="otherGradoAcademico"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true"
                                                    formControlName="selectPeriodoAcademico"></dx-select-box>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Estado:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" displayExpr="nombre" valueExpr="id"
                                                    [dataSource]="otherEstadoUsuario"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true"
                                                    formControlName="selectEstadoUsuario"></dx-select-box>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <div class="d-flex justify-content-end">
                                                <button type="button"
                                                    class="btn btn-primary btn-sm button-color-primary"
                                                    data-toggle="tooltip" data-placement="top" title="Buscar alumno."
                                                    style="margin-right: 5px;" (click)="BuscarAlumno()">
                                                    <i class="fa fa-lg fa-fw fa-search"></i> Buscar</button>
                                                <button type="button" class="btn btn-danger btn-sm button-color-danger"
                                                    data-toggle="tooltip" data-placement="top" title="Limpiar campos."
                                                    (click)="LimpiarFormulario()">
                                                    <i class="fa fa-lg fa-fw fa-eraser"></i> Limpiar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section id="lista-alumnos">
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="widthtablas">#</th>
                                                <th class="text-center">DNI</th>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Apellido Paterno</th>
                                                <th class="text-center">Apellido Materno</th>
                                                <th class="text-center">Grado</th>
                                                <th class="text-center">Periodo</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let alumno of buscarAlumno.length > 0 ? buscarAlumno : alumnos; let i = index">
                                                <td class="widthtablas">{{ i + 1 }}</td>
                                                <td class="text-center">{{ alumno.usDni }}</td>
                                                <td class="text-center">{{ alumno.usNombre }}</td>
                                                <td class="text-center">{{ alumno.usApellidoPaterno }}</td>
                                                <td class="text-center">{{ alumno.usApellidoMaterno }}</td>
                                                <td class="text-center">{{ alumno.idgrado }}</td>
                                                <td class="text-center">{{ alumno.usFechaRegistro | date: 'yyyy-MM-dd'}}
                                                </td>
                                                <td class="text-center">
                                                    <span *ngIf="alumno.usEstado; else pendingBadge" class="badge badge-complete">Activo</span>
                                                    <ng-template #pendingBadge>
                                                      <span class="badge badge-pending">Inactivo</span>
                                                    </ng-template>
                                                  </td>
                                                <td class="text-center">
                                                    <div class="text-center">
                                                        <button type="button"
                                                            class="btn btn-primary btn-sm button-color-primary"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Editar alumno." style="margin-right: 5px;"
                                                            (click)="AbrirModalEditarAlumno(alumno)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="button"
                                                            class="btn btn-danger btn-sm button-color-danger"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Eliminar elemento." style="margin-right: 5px;"
                                                            (click)="EliminarAlumno(alumno)">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>