<div class="modal-header">
    <h4 class="modal-title fw-bold">Código de verificación</h4>
</div>
<div class="modal-body">
    <section id="seccion-buscador">
        <form (ngSubmit)="verificarCodigo()">
            <div class="form-group">
                <label for="verificationCode">Ingrese Código de Verificación:</label>
                <input type="text" id="verificationCode" [(ngModel)]="verificationCode" name="verificationCode" class="form-control" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-lg fa-fw fa-check"></i> Verificar Código
                </button>
                <button type="button" class="btn btn-danger button-color-danger" (click)="CerrarModal()">
                    <i class="fa fa-lg fa-fw fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </section>
</div>
