<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Registrar Docente</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Registrar Usuario</a></li>
                            <li class="active">Docente</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-block">
                        <form autocomplete="off" novalidate="novalidate" [formGroup]="docenteForm">
                            <div class="row">
                                <!-- Primera columna -->
                                <div class="col-lg-6">
                                    <!-- input del DNI -->
                                    <div class="form-group mb-4">
                                        <strong for="exampleFormControlInput1" class="form-label label">DNI: </strong>
                                        <input type="text" class="form-control" id="DNI"
                                            formControlName="inputDNI" placeholder="Ingrese nro. de DNI"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="8">
                                        <div *ngIf="Controls['inputDNI'].invalid && (Controls['inputDNI'].dirty || Controls['inputDNI'].touched)"
                                            style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div *ngIf="Controls['inputDNI']?.errors?.['required']">
                                                <div>Campo obligatorio.</div>
                                            </div>
                                            <div *ngIf="Controls['inputDNI']?.errors?.['minlength']">
                                                <div>El número de documento debe contar con un mínimo de 8 caracteres.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- input del apellido paterno -->
                                    <div class="form-group mb-4">
                                        <strong for="exampleFormControlInput1" class="form-control-label">Apellido Paterno:</strong>
                                        <input type="text" id="apellido-paterno" placeholder="Ingrese apellido paterno" class="form-control" formControlName="inputApellidoPaterno">
                                        <div *ngIf="Controls['inputApellidoPaterno'].invalid && (Controls['inputApellidoPaterno'].dirty || Controls['inputApellidoPaterno'].touched)"style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div>Campo obligatorio.</div>
                                        </div>
                                    </div>
                                    <!-- input de contraseña -->
                                    <div class="form-group mb-4">
                                        <strong for="exampleFormControlInput1" class="form-control-label">Contraseña:</strong>
                                        <input type="password" id="contrasena" placeholder="Ingrese contraseña" class="form-control" formControlName="inputPassword">
                                        <div *ngIf="Controls['inputPassword'].invalid && (Controls['inputPassword'].dirty || Controls['inputPassword'].touched)"
                                            style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div *ngIf="Controls['inputPassword']?.errors?.['required']" >
                                            Campo obligatorio.
                                            </div>
                                            <div *ngIf="Controls['inputPassword']?.errors?.['minlength']" >
                                            La contraseña debe tener al menos 6 caracteres.
                                            </div>
                                            <div *ngIf="Controls['inputPassword']?.errors?.['pattern']" >
                                            La contraseña debe contener al menos una letra y un número.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- input de email -->
                                    <div class="form-group mb-4">
                                        <strong for="email" class="form-control-label">Email</strong>
                                        <input type="email" id="email" placeholder="Ingrese email" class="form-control" formControlName="inputEmail">
                                        <div *ngIf="Controls['inputEmail'].invalid && (Controls['inputEmail'].dirty || Controls['inputEmail'].touched)"
                                        style="color: red; font-size: 0.8em; margin-top: 5px;">
                                        <div *ngIf="Controls['inputEmail']?.errors?.['required']">Campo obligatorio.</div>
                                        <div *ngIf="Controls['inputEmail']?.errors?.['email']">Debe ingresar un email válido.</div>
                                        </div>
                                    </div>
                                    <!-- input de sexo -->
                                    <div class="form-group mb-4">
                                        <strong for="sexo" class="form-control-label">Sexo</strong>
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">Seleccione una opción</option>
                                            <option value="1">Femenino</option>
                                            <option value="2">Masculino</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-4">
                                        <strong for="confirmar-contraseña" class="form-control-label">Celular</strong>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Ingrese un número de contacto."
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                            formControlName="inputCelular">
                                        <div *ngIf="Controls['inputCelular'].invalid && (Controls['inputCelular'].dirty || Controls['inputCelular'].touched) "
                                        style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div *ngIf="Controls['inputCelular']?.errors?.['required']">
                                                <div>Campo obligatorio.</div>
                                            </div>
                                            <div *ngIf="Controls['inputCelular']?.errors?.['minlength']">
                                                <div>El celular debe contar con un mínimo de 4 caracteres.</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <!-- Segunda columna -->
                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <strong for="nombres" class="form-control-label">Nombres:</strong>
                                        <input type="text" id="email" placeholder="Ingrese nombres" class="form-control" formControlName="nombredocente" >
                                        <div *ngIf="Controls['nombredocente'].invalid && (Controls['nombredocente'].dirty || Controls['nombredocente'].touched)"style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div>Campo obligatorio.</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <strong for="apellido materno" class="form-control-label">Apellido Materno:</strong>
                                        <input type="text" id="apellido materno" placeholder="Ingrese apellido materno" class="form-control" formControlName="apellidomaterno">
                                        <div *ngIf="Controls['apellidomaterno'].invalid && (Controls['apellidomaterno'].dirty || Controls['apellidomaterno'].touched)"style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div>Campo obligatorio.</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <strong for="confirmar-contrasena" class="form-control-label">Confirmar contraseña:</strong>
                                        <input type="password" id="confirmar-contrasena" placeholder="Confirme contraseña" class="form-control" formControlName="inputConfirmPassword" >
                                        <div *ngIf="Controls['inputConfirmPassword'].invalid && (Controls['inputConfirmPassword'].dirty || Controls['inputConfirmPassword'].touched)" style="color: red; font-size: 0.8em;">
                                            <div>Campo obligatorio.</div>
                                          </div>
                                        <div *ngIf="passwordMismatch" style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            Las contraseñas no coinciden
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <strong for="activo" class="form-control-label">Activo</strong>
                                        <select id="activo" class="form-control">
                                            <option value="1">Seleccione una opción</option>
                                            <option value="1">Si</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>

                                    <div class="form-group mb-4">
                                        <strong for="grado" class="form-control-label">Especialidad</strong>
                                        <input type="text" id="especialidad" placeholder="Ingrese especialidad" class="form-control" formControlName="especialidad">
                                        <div *ngIf="Controls['especialidad'].invalid && (Controls['especialidad'].dirty || Controls['especialidad'].touched)"style="color: red; font-size: 0.8em; margin-top: 5px;">
                                            <div>Campo obligatorio.</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <strong for="sexo" class="form-control-label">Grado académico</strong>
                                        <select id="activo" class="form-control">
                                            <option value="1">Seleccione una opción</option>
                                            <option value="1">Bachiller</option>
                                            <option value="2">Licenciado</option>
                                        </select>
                                    </div>

                                    
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <button type="button" class="btn btn-primary mx-2" (click)="limpiarFormulario()"><i class="fa fa-eraser"></i>&nbsp; Limpiar</button>
                                <button type="button" class="btn btn-success"><i class="fa fa-check"></i>&nbsp; Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

