<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span>{{this.totalAlumnos}}</span>
                            </h3>
                            <p class="text-light mt-1 m-0">
                                {{this.totalAlumnos === 1 ? 'Alumno' : 'Alumnos'}}
                            </p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                            <i class="icon fade-5 icon-lg pe-7s-study"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-6">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span>{{this.totalDocentes}}</span>
                            </h3>
                            <p class="text-light mt-1 m-0">
                                {{this.totalDocentes === 1 ? 'Docente' : 'Docentes'}}
                            </p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                            <i class="icon fade-5 icon-lg pe-7s-glasses"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-3">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span>{{this.totalAdministradores}}</span>
                            </h3>
                            <p class="text-light mt-1 m-0">
                                {{this.totalAdministradores === 1 ? 'Administrador' : 'Administradores'}}
                            </p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                            <i class="icon fade-5 icon-lg pe-7s-star"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-2">
                    <div class="card-body">
                        <div class="card-left pt-1 float-left">
                            <h3 class="mb-0 fw-r">
                                <span>{{this.totalUsuarios}}</span>
                            </h3>
                            <p class="text-light mt-1 m-0">
                                {{this.totalUsuarios === 1 ? 'Usuario' : 'Usuarios'}}
                            </p>
                        </div><!-- /.card-left -->

                        <div class="card-right float-right text-right">
                                <i class="icon fade-5 icon-lg pe-7s-users"></i>
                        </div><!-- /.card-right -->

                    </div>

                </div>
            </div>
            <!--/.col-->
            <!--  Traffic  -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Auditoria</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <div id="chart-container" class="traffic-chart"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-body">
                                    <div class="progress-box progress-1">
                                        <h4 class="por-title">Total Accesos</h4>
                                        <div class="por-txt">{{ this.totalAccesos === 1 ? ' Acceso en Total' : this.totalAccesos + ' Accesos en Total' }}</div>
                                        <ngb-progressbar class="pb-color-1" [value]="this.totalAccesos"></ngb-progressbar>
                                    </div>
                                    <div class="progress-box progress-2">
                                        <h4 class="por-title">Total Acceso Exitosos</h4>
                                        <div class="por-txt">{{ this.totalAccesosExitosos === 1 ? ' Acceso Exitoso' : this.totalAccesosExitosos + ' Accesos Exitosos' }}</div>
                                        <ngb-progressbar class="pb-color-2" [value]="this.totalAccesosExitosos"></ngb-progressbar>
                                    </div>
                                    <div class="progress-box progress-3">
                                        <h4 class="por-title">Total Comentarios</h4>
                                        <div class="por-txt">{{ this.totalComentarios === 1 ? ' Comentario' : this.totalComentarios + ' Comentarios'}}</div>
                                        <ngb-progressbar class="pb-color-3" [value]="this.totalComentarios"></ngb-progressbar>
                                    </div>
                                    <div class="progress-box progress-4">
                                        <h4 class="por-title">Total Incidencias</h4>
                                        <div class="por-txt">{{ this.totalIncidencias === 1 ? ' Incidencia' : this.totalIncidencias + ' Incidencias' }}</div>
                                        <ngb-progressbar class="pb-color-4" [value]="this.totalIncidencias"></ngb-progressbar>
                                    </div>
                                </div> <!-- /.card-body -->
                            </div>
                            </div>
                        </div> <!-- /.row -->
                        <div class="card-body"></div>
                    </div>
                </div><!-- /# column -->
            </div>
            <!--  /Traffic -->
            <div class="clearfix"></div>
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->