<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <i class="pe-7s-hammer"></i> <!-- Icono para Docentes -->
                    </div>
                    <div class="stat-content">
                      <h5 class="card-title">Docentes</h5>
                      <p class="card-text">{{ docentesCount }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <i class="pe-7s-study"></i> <!-- Icono para Alumnos -->
                    </div>
                    <div class="stat-content">
                      <h5 class="card-title">Alumnos</h5>
                      <p class="card-text">{{ alumnosCount }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                      <i class="pe-7s-shield"></i> <!-- Icono para Administradores -->
                    </div>
                    <div class="stat-content">
                      <h5 class="card-title">Administradores</h5>
                      <p class="card-text">{{ administradoresCount }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                      <i class="pe-7s-users"></i> <!-- Icono para Total Usuarios -->
                    </div>
                    <div class="stat-content">
                      <h5 class="card-title">Total Usuarios</h5>
                      <p class="card-text">{{ usuariosCount }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- HACER UN CALENDARIO -->
          
        
   </div>
</div>       
          
<!-- /.content -->