<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Lista de Alumnos</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb d-flex justify-content-end">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Lista de Alumnos</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="section-buscar-alumno">
    <form novalidate="novalidate" [formGroup]="notaspadreform">
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-lg-12 text-right col-sm-9">
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-success btn-sm button-color-success">
                                                <i class="fa fa-lg fa-fw fa-user-plus"></i> Nuevo
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Estudiante:</label>
                                                <dx-autocomplete placeholder="Escriba el nombre del paciente."
                                                    formControlName="inputEstudiante" [dataSource]="listadoalumnos">
                                                </dx-autocomplete>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Nro. de
                                                    documento:</label>
                                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                                    placeholder="Ingrese el número de documento."
                                                    formControlName="inputNroDocumento"
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                    maxlength="8">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Grado:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" displayExpr="nombre" valueExpr="id"
                                                    [dataSource]="otherGradoAcademico"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true"
                                                    formControlName="selectGradoAcademico"></dx-select-box>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Bimestre:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" [dataSource]="bimestreAcademico"
                                                    displayExpr="biNombre" valueExpr="idbimestre"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true" formControlName="selectBimestre">
                                                </dx-select-box>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label label-custom-medium">Estado:</label>
                                                <dx-select-box placeholder="Seleccione una opción."
                                                    class="text-color-placeholder" displayExpr="nombre" valueExpr="id"
                                                    [dataSource]="otherEstadoUsuario"
                                                    [inputAttr]="{ 'aria-label': 'Product With Placeholder' }"
                                                    [showClearButton]="true"
                                                    formControlName="selectEstadoUsuario"></dx-select-box>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section id="lista-alumnos">
    <form novalidate="novalidate" [formGroup]="notaspadreform">
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th class="widthtablas">#</th>
                                                    <th class="text-center">Alumno</th>
                                                    <th class="text-center">Grado</th>
                                                    <th class="text-center">Respeta el Reglamento Interno</th>
                                                    <th class="text-center">Es responsable con su hijo(a)</th>
                                                    <th class="text-center">No permite el uso del celular a su hijo(a)
                                                    </th>
                                                    <th class="text-center">Promedio</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="alumnosFormArray">
                                                <tr
                                                    *ngFor="let alumno of alumnos; let i = index" [formGroupName]="i">
                                                    <td class="widthtablas">{{ i + 1 }}</td>
                                                    <td class="text-center">{{ alumno.nombre + " " + alumno.apellidoPaterno + " " + alumno.apellidoMaterno }}</td>
                                                    <td class="text-center">{{ this.gradorecibido }}</td>
                                                    <!-- Inputs de notas -->
                                                    <td class="text-center">
                                                        <input type="text" class="form-control input-nota text-center"
                                                            placeholder="00.00" formControlName="inputNotaPadre1" 
                                                            pattern="^\d{1,2}(\.\d{0,2})?$" maxlength="5"
                                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '')
                                                                .replace(/(\..*)\./g, '$1')
                                                                .replace(/^(\d{1,2})(\.\d{0,2})?.*/, '$1$2');
                                                                if (parseFloat(this.value) > 20) {
                                                                    this.value = '20' + (this.value.includes('.') ? this.value.slice(this.value.indexOf('.')) : '');
                                                                }">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control input-nota text-center"
                                                            placeholder="00.00" formControlName="inputNotaPadre2"
                                                            pattern="^\d{1,2}(\.\d{0,2})?$" maxlength="5"
                                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '')
                                                                .replace(/(\..*)\./g, '$1')
                                                                .replace(/^(\d{1,2})(\.\d{0,2})?.*/, '$1$2');
                                                                if (parseFloat(this.value) > 20) {
                                                                    this.value = '20' + (this.value.includes('.') ? this.value.slice(this.value.indexOf('.')) : '');
                                                                }">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control input-nota text-center"
                                                            placeholder="00.00" formControlName="inputNotaPadre3"
                                                            pattern="^\d{1,2}(\.\d{0,2})?$" maxlength="5"
                                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '')
                                                                .replace(/(\..*)\./g, '$1')
                                                                .replace(/^(\d{1,2})(\.\d{0,2})?.*/, '$1$2');
                                                                if (parseFloat(this.value) > 20) {
                                                                    this.value = '20' + (this.value.includes('.') ? this.value.slice(this.value.indexOf('.')) : '');
                                                                }">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="read"
                                                            class="form-control input-nota text-center readonly-input"
                                                            placeholder="00.00"
                                                            formControlName="inputPromedioNotasPadre"
                                                            pattern="^\d{1,2}(\.\d{0,2})?$" maxlength="5" readonly>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-lg-12 text-right">
                                                <div class="d-flex justify-content-end">
                                                    <button type="button"
                                                        class="btn btn-danger btn-sm"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Limpiar campos." style="margin-right: 5px;"
                                                        (click)="LimpiarFormulario()">
                                                        <i class="fa fa-lg fa-fw fa-eraser"></i> Limpiar</button>
                                                    <button type="button"
                                                        class="btn btn-success btn-primary btn-sm"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Buscar alumno." (click)="RegistrarNotasPadre()">
                                                        <i class="fa fa-lg fa-fw fa-save"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- /.table-stats -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>