<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
      <div class="row">
        <div class="col-sm-4">
          <div class="page-header float-left">
            <div class="page-title">
              <h1>Registrar Asistencia</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="page-header float-right">
            <div class="page-title">
              <ol class="breadcrumb d-flex justify-content-end">
                <li><a href="#">Inicio</a></li>
                <li class="active">Registrar Asistencia</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section id="section-buscar-alumno">
    <form [formGroup]="listaasistenciaform">
      <div class="content">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body card-block">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="mb-3">
                        <label for="selectGradoAcademico" class="form-label">Grado:</label>
                        <dx-select-box 
                          placeholder="Seleccione una opción"
                          displayExpr="nombre" 
                          valueExpr="id"
                          [dataSource]="otherGradoAcademico"
                          formControlName="selectGradoAcademico"
                          (onValueChanged)="obtenerAlumnos()">
                        </dx-select-box>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3">
                        <label for="inputFechaRegistroAsistencia" class="form-label">Fecha:</label>
                        <dx-date-box class="form-control" type="date" formControlName="inputFechaRegistroAsistencia" 
                            [showClearButton]="true" [displayFormat]="'dd/MM/yyyy'" placeholder="dd/MM/yyyy" >
                        </dx-date-box>
                      </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-end justify-content-end">
                      <button type="button" class="btn btn-danger" (click)="LimpiarFormulario()">Limpiar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  
<section id="lista-alumnos" *ngIf="alumnos.length > 0">
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            <th class="widthtablas">#</th>
                                            <th class="text-center">Apellido Paterno</th>
                                            <th class="text-center">Apellido Materno</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Asistencia</th>
                                            <th class="text-center">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let alumno of alumnos; let i = index">
                                            <td class="widthtablas">{{ i + 1 }}</td>
                                            <td class="text-center">{{ alumno.usApellidoPaterno }}</td>
                                            <td class="text-center">{{ alumno.usApellidoMaterno }}</td>
                                            <td class="text-center">{{ alumno.usNombre }}</td>
                                            <td class="text-center">
                                                <label class="margin-right-15">
                                                    <input type="radio" name="asistencia_{{ alumno.idalumno }}" [value]="1" [(ngModel)]="asistenciaSeleccionada[alumno.idalumno]"> Asistió
                                                </label>
                                                <label class="margin-right-15">
                                                    <input type="radio" name="asistencia_{{ alumno.idalumno }}" [value]="2" [(ngModel)]="asistenciaSeleccionada[alumno.idalumno]"> Tarde
                                                </label>
                                                <label>
                                                    <input type="radio" name="asistencia_{{ alumno.idalumno }}" [value]="3" [(ngModel)]="asistenciaSeleccionada[alumno.idalumno]"> Faltó
                                                </label>
                                            </td>
                                            <td class="text-center">
                                                <input type="text" placeholder="Opcional"
                                                [(ngModel)]="descripcionAsistencia[alumno.idalumno]" class="form-control" maxlength="100">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->

                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary button-color-primary margin-right-5" (click)="GuardarAsistencia()">
                                            <i class="fa fa-lg fa-fw fa-save"></i> Guardar
                                        </button>
                                        <button type="button" class="btn btn-danger button-color-danger" (click)="LimpiarFormulario()">
                                            <i class="fa fa-lg fa-fw fa-times"></i> Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  